<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Reservation Schedulet</title>
</head>
<body>
  <header style="padding: 100px; background-color: yellow;">
  <h3 style="text-align: center; font-family: Chewy, cursive;"><b>Restaurant Reservation Schedule</b></h3>
  </header>
  <nav id= "#nav_bar" class="navbar navbar-expand-lg navbar-light navbar-static-top">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="ml-auto navbar-nav">
                        
                        <li class="nav-item"><a class="nav-link" href="{% url 'form' %}"><b>Back</b></a></li>
                        
                    </ul>
                </div>
            </nav>    
  <div style="padding: 50px;">
    <table style="width: 100%; margin-top: 35px; margin-bottom: 35px; padding : 50px; text-align: center;">
            <tr style="text-align: center; font-family: Chewy, cursive;">
              <th>Name</th>
              <th>Date</th>
              <th>Time</th>
              <th></th>
            </tr>
            <tr>
            {% for i in data %}
            <tr style="text-align: center;">
                <td>{{i.name}}</td>
                <td>{{i.date}}</td>
                <td>{{i.hour}}</td>
                <td><a href="{% url 'delete_activity' pk=i.pk %}"> <button class="btn btn-danger"> Delete</button></a></td>
            </tr>
            {% endfor %}
          </table>
</div>

</body>
</html>