<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static '/css/info.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Chewy&display=swap" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/26197ec3bf.js"></script>

    <title>Info Restoran</title>
</head>

<body>
        <div id="header">
            <div class="container">
                <div class="container-btn">
                    <div class="ml-auto">
                        <button type="button" class="btn btn-danger"><a href="/listresto/?arg={{resto.places.id}}">Back</a></button>
                    </div>
                </div>

                <h1>{{ resto.nama }}</h1>

                <div class="big-container">
                    <div class="container-restoran">
                        <div class="img-container">
                            <img src="{{ resto.image.url }}" alt="RESTORAN-DEPOK-01">
                        </div>
                        <a href="/book/?arg={{resto.id}}" class="btn btn-light">BOOK</a>
                    </div>

                    <div class="container-info">
                        <h4>Alamat: {{ resto.alamat }}</h4>
                        <h4>Email: {{ resto.email }}</h4>
                        <p>{{ resto.desc }}</p>
                        <div class="likes"><button><i class="far fa-thumbs-up"></i></button> 300 Likes</div>
                    </div>
                </div>
            </div>
        </div>

    <div id="review">
        <div class="form-container">
            <h2>Berikan Review</h2>
            <form id="form" action="/info/" method="POST">
                {% csrf_token %}
                {{ form }}
                <button type="submit">SUBMIT</button>
            </form>
        </div>

        <div class="reviews">
            <h4>Review</h4>
            {% for review in reviews %}
                <div class="review">
                    <h5> {{ review.name }} </h5>
                    <p> {{ review.content }} </p>
                </div>
            {% endfor %}
        </div>
    </div>
</body>

<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'p3plcpnl0769'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script>

<script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script><script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'p3plcpnl0769'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script>

<script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script>

</html>