/* --------------- CSS RESET -------------- */

* {
    box-sizing: border-box;
    font-family: 'Chewy', cursive;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* --------------- HEADER -------------- */

#header {
    background: #FFF800;
}

.container {
    max-width: 1100px;
}

/* --------------- BACK BUTTON -------------- */

.container-btn {
    max-width: 1100px;
    margin: auto;
    display: flex;
}

.container-btn button {
    margin: 10px;
    border-radius: 50%;
    width: 70px;
}

.container-btn button a {
    color: #fff;
}

.container-btn button a:hover {
    text-decoration: none;
    color: #ffc;
}

/* --------------- RESTAURANT -------------- */

.big-container {
    margin: auto;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
}

.container-restoran {
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.img-container {
    max-width: 200px;
    margin: 5px 40px;
}

.img-container img {
    width: 100%;
    border-radius: 5%;
    border: #fff solid 5px;
}

.container-restoran a {
    margin: 10px 110px;
    border-radius: 20%;
    width: 70px;
    border: red solid 2px;
}

.container-info {
    max-width: 700px;
    display: flex;
    flex-direction: column;
}

.container-info p {
    color: #47525E;
}

.likes {
    margin-bottom: 10px;
    background: none;
}

.likes button {
    background: none;
    padding: 2px;
    border: none;
}

/* --------------- FORM REVIEW -------------- */

#review {
    margin-top: 20px;
}

#review .form-contaier h2 {
    margin-top: 20px;
    text-align: center;
}

.form-container {
    margin: 10vh 5vw;
    padding: 10px;
    max-width: 750px;
}

.form-container form label {
    display: block;
    font-size: 28px;
    margin-top: 20px;
    box-sizing: content-box;
}

.form-container form input {
    display: block;
}

.form-container form button {
    display: block;
    margin-top: 5px;
    background: white;
    border: red 2px solid;
    border-radius: 40%;
    padding: 0.2em;
}

.form-container form button:hover {
    background: red;
}

/* --------------- LIST REVIEW -------------- */

.reviews {
    margin: 10vh 5vw;
}

.review {
    margin: 10px 50px;
    max-width: 1100px;
    padding: 5px;
    border-bottom: #000 2px solid;
}

.review p {
    color: #47525E;
}