@import "base.css";

.bg{
	background-image	: url('/static/images/healthyfoodbg.png');
	
	overflow-x			: hidden;
	/* Full height */
	height				: 100%;

	/* Center and scale the image nicely */
	background-position	: center;
	background-repeat	: no-repeat;
	background-size		: cover;
	
}
.makeitmiddle{
	float		: "none";
	width 		: 50%;
	margin		: auto;
    position	: absolute;
    top			: 50%;
    left		: 50%;
    -moz-transform		: translateX(-50%) translateY(-50%);
    -webkit-transform	: translateX(-50%) translateY(-50%);
    transform	: translateX(-50%) translateY(-50%);
}
}
.middle{
	height 		: 50%;
	margin		: 0 auto;
	//height 	: calc(100% - 128px);
}
.inthemiddle{
	margin 		: 0 auto;
}
