<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/css/resto.css' %}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List Restoran</title>
</head>
<body>
    <div id = "header">
        <div class = "container">
            <div class="top">
                <h1>Restoran favorit di sekitarmu:</h1>
                <div class="ml-auto">
                    <div class="form-conta">
                        <form class="" action="">
                            <input type="text" placeholder="Search" name="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="btn-back-2"></div>	
                    <div class="container-btn">
                        <button type="button" class="btn btn-danger" onclick="window.location.href={% url 'homepage:home' %}">Back</button>
                    </div>
                </div>
            </div>
        </div>
		
		<div class = "resto clearfix">
			<div class = "img-resto left-section">
				<img src="{% static '/images/resto-depok-01.jpeg' %}" style="width: 300px; height: 200px;" alt="RESTORAN-DEPOK-01">
			</div>
			<div style="padding-top: 20px;">
				<h2>[NAMA RESTORAN]</h2>
				<div class = "content-resto">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, placeat nesciunt tempora deleniti voluptas quisquam aut, ut rerum dignissimos ab excepturi dolores necessitatibus beatae cum neque. Omnis sed dolorem, eaque soluta rem corrupti, necessitatibus ab quisquam fugiat ullam voluptate, facilis tempora et cumque quod assumenda dignissimos. Numquam quae pariatur nihil obcaecati vel! Id quasi iste doloribus debitis tempora iusto a, aliquid deleniti provident nobis, doloremque explicabo magni tempore odit eligendi sed! Suscipit quae laudantium totam.</p>
				</div>
				<div class="container-btn">
					<div class="ml-auto">
						<button type="button" class="btn btn-warning" onclick="window.location.href={% url 'info:info' %}">Lihat</button>
					</div>
				</div>
			</div>
		</div>
	</body>
    <h1>
        <a href="{% url 'info:info' %}">BUAT KE PAGE SELANJUTNYA</a>
    </h1>
    <h1>
        <a href="{% url 'homepage:home' %}">BUAT KE PAGE SEBELUMNYA</a>
    </h1>
</body>
</html>