<!DOCTYPE html>

{% extends "homepagebase.html" %}
{% load static %}

<!--Disclaimer	: there's no bug in this code, there's only feature 
	@author		: Harnindyto wicaksana, 
	contact		: todi.to;-->

<html>
	{% block head %}
		<link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}">
	{% endblock %}
	{% block main %}
		<div class="bg">
			<div class="makeitmiddle">
				<div class="inthemiddle d-flex justify-content-center">
					<img src="{% static 'images/PewLicious.png' %}" alt="PewLicious logo" align="middle" style="max-width:100%;">
				</div>
				<div class="inthemiddle">
					<form>
						<div class="form-group">
							<select class="form-control" id="exampleFormControlSelect1">
							
							  <option value="" selected disabled hidden>Choose city</option>	
							  {% for j in Rest %}
							  
							  <option>{{ j.place }}</option>
							  
							  {% endfor %}
							</select>
						</div>
					</form>
					<div class="text-right mb-3">
						
						<button type="button" onclick="window.location.href={% url 'listresto:listresto' %}" class="btn btn-outline-danger" style="padding : 0 auto;">Hungry</button>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
	
</html>