{% extends "base.html" %}

{% load static %}

<html lang="en">
<head>
	{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% endblock %}
</head>
<body>
	{% block main %}
    <h1>Hello World</h1>
    <img src="{% static 'images/healthyfoodbg.png' %}" style="width: 500px;">
    <h1>
        <a href="{% url 'listresto:listresto' %}">BUAT KE PAGE SELANJUTNYA</a>
    </h1>
	{% endblock %}
</body>
</html>